<strong>Module:</strong>        Escola &raquo;
<strong>Controller:</strong>    Escola &raquo;
<strong>Action:</strong>        index

 <?php

 $title = 'Alunos';
 $this->headTitle($title);
 ?>
 <h1><?php echo $this->escapeHtml($title); ?></h1>
 <p>
     <a href="<?php echo $this->url('escola', array('action'=>'add'));?>">Add new aluno</a>
 </p>

 <table class="table">
 <tr>
     <th>Nome</th>
     <th>&nbsp;</th>
 </tr>
 <?php foreach ($alunos as $aluno) : ?>
 <tr>
     <td><?php echo $this->escapeHtml($aluno->nome);?></td>
     <td>
         <a href="<?php echo $this->url('escola',
             array('action'=>'edit', 'id' => $aluno->id));?>">Edit</a>
         <a href="<?php echo $this->url('escola',
             array('action'=>'delete', 'id' => $aluno->id));?>">Delete</a>
     </td>
 </tr>
 <?php endforeach; ?>
 </table>